@using Microsoft.EntityFrameworkCore
@using ProjectInit.Core.Entities
@using ProjectInit.Repositories.Hotel
@using ProjectInit.Repositories.Pet
@using ProjectInit.Repositories.Users

@inject ProjectInit.Core.Context.ProjectContext _ctx

@model List<Booking>

<head>
    <link href="~/tailwindcss/tailwind.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div>
            <h1>Всі оренди готелів - Admin</h1>
        </div>
    </header>
    <div class="container mx-auto mt-8">
        @foreach (var booking in Model)
        {
            <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                <p><strong class="text-gray-700">Дата початку:</strong> @booking.StartDate</p>
                <p><strong class="text-gray-700">Дата закінчення:</strong> @booking.EndDate</p>
                <p>
                    <strong class="text-gray-700">Готель:</strong>
                    @if (booking.HotelId.HasValue)
                    {
                        var hotelRepository = new HotelRepository(_ctx);
                        var hotel = await hotelRepository.GetAsync(booking.HotelId.Value);
                        <a href="/Hotel/View/@booking.HotelId">@hotel.Name</a>
                    }
                    else
                    {
                        <text>Unknown hotel</text>
                    }
                </p>
                <p><strong class="text-gray-700">Тотальна кількість:</strong> @booking.TotalAmount$</p>
                @foreach (var bookings in Model)
                {
                    <form asp-controller="Booking" asp-action="Edit" asp-route-id="@bookings.Id">
                        <p>
                            <strong class="text-gray-700">Статус:</strong>
                            <select name="status" class="form-control">
                                <option value="У черзі">У черзі</option>
                                <option value="Обробляється">Обробляється</option>
                                <option value="На проживанні">На проживанні</option>
                                <option value="На проживанні">Виїзд</option>
                                <option value="Вільна та готова до видачі">Вільна та готова до видачі</option>
                            </select>
                            <button class="btn btn-warning rounded hover:bg-yellow-600 bg-yellow-500 px-2 py-1 text-white">Edit</button>
                        </p>
                    </form>
                }
                <p>
                    <strong class="text-gray-700">Назва тварини:</strong>
                    @if (booking.PetId.HasValue)
                    {
                        var petRepository = new PetRepository(_ctx);
                        var pet = await petRepository.GetAsync(booking.PetId.Value);
                        <a href="/Pet/View/@booking.PetId">@pet.Name</a>
                    }
                    else
                    {
                        <text>Unknown pet</text>
                    }
                </p>
                <p>
                    <strong class="text-gray-700">Юзер нейм:</strong>
                    @if (booking.UserId.HasValue)
                    {
                        var userRepository = new UserRepository(_ctx);
                        var user = await userRepository.GetAsync(booking.UserId.Value);
                        <text>@user.UserName</text>
                    }
                    else
                    {
                        <text>Unknown user</text>
                    }
                </p>
                <div class="flex">
                    <form asp-controller="Booking" asp-action="Delete" asp-route-Id="@booking.Id">
                        <button class="btn btn-danger mr-2 rounded hover:bg-red-600 bg-red-500 px-2 py-1 text-white">Delete</button>
                    </form>
                </div>

            </div>
        }
    </div>

</body>
